<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQJ0XN8BysRhI5F81roVpvEE5QUypVIok</string>
	<key>GCM_SENDER_ID</key>
	<string>118349528721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallApp</string>
	<key>PROJECT_ID</key>
	<string>wall-app-f579f</string>
	<key>STORAGE_BUCKET</key>
	<string>wall-app-f579f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118349528721:ios:724e90670e12bca0374930</string>
</dict>
</plist>